<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--springmvc 只管扫描 controller包-->
    <context:component-scan base-package="com.whx.elec8.controller">
    </context:component-scan>


    <!--就是上面两个配置-->
    <mvc:annotation-driven>
        <!--让我们的Adapter有json 转换能力-->
        <mvc:message-converters>
            <ref bean="jsonconverter"></ref>
        </mvc:message-converters>

    </mvc:annotation-driven>

    <!--jackson给我们提供的一个json转换器-->
    <bean id="jsonconverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--匹配任意级路径-->
            <mvc:mapping path="/**/*"/>
            <!--除了登录页-->
            <mvc:exclude-mapping path="/login.html"/>
            <!--使用此拦截器-->
            <bean class="com.whx.elec8.interceptors.UserInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--文件上传的处理-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="1024000"></property>

    </bean>


    <!--静态资源的处理-->
    <!--<mvc:resources mapping="/pages/*" location="/htmls/"></mvc:resources>-->
</beans>